body{
    margin-left:7vw;
    margin-right:7vw;
}
.main-item{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.text{
    font-family: 'Roboto Slab', serif;
    font-size:72px;
    font-weight:700;
    margin-top:auto;
    margin-bottom: auto;
}
.main-image{
    padding:50px;
    height:70vh;
    position:relative;
    margin-top:8vh;
}

@media only screen and (max-width:500px){
    .main-item{
        flex-direction: column;
    }
    .main-image{
        height:auto;
        width:60vw;
    }
}